body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6f4c3e;
    color: rgb(251, 236, 215);
    text-align: center;
    padding: 20px;
}


nav ul li {
    display:inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(253, 230, 200);
    text-decoration: blanchedalmond;
}

section {
    padding: 40px;
}

.menu-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.menu-image {
    width: 30px; /*  size  */
    height: auto; /* Maintain aspect height ratio */
    float: right; /* Align image to the right */
    margin-right: 30px; /* Space between image and text */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6f4c3e;
    color: rgb(251, 236, 215);
}